
@using Chatable.Data.Components.Dialog.Profile;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/LoginLayout.css">

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <div class="main">
        @Body
    </div>
</div>
@code 
{
  
   
}