@inherits LayoutComponentBase
<div class="wrapper">
    <div class="col-12 ">
        <br /><br />
        @Body
    </div>
</div>

<style>
    .wrapper {
        width: 100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #B9D6F3;
    }
</style>