@using Chatable.Data.Entitles;
@using Chatable.Data.Components.Dialog.Profile;
@using Chatable.Data.Entitles.Model;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/MainLayout.css">

<MudThemeProvider @bind-IsDarkMode="@themeOn" />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <div class="sidebar">
        <div class="user" title="Click để xem thông tin">
            <img src= "@currentUser.Avatar" class="user-img" @onclick="OpenDialog" />
            <div>
                <p>@currentUser.Name</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="chat">
                    <i class='bx bxs-message-rounded-detail icon'></i>
                    <p>Trò chuyện</p>
                </a>
            </li>
            <li>
                <NavLink clas="nav-link" href="contact">
                    <i class='bx bxs-contact icon'></i>
                    <p>Danh bạ</p>
                </NavLink>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog icon'></i>
                    <p>Cài đặt</p>
                </a>
            </li>
        </ul>
        <div class="bottom-list">
            <ul>
                <li>
                    <a href="#">
                        <i class='bx bx-moon icon icon'></i>
                        <p>Chế độ</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <p>Đăng xuất</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        @Body
    </div>
</div>
@code 
{
    User currentUser = Constant.currentUser;
    bool themeOn = false;
    public async Task Logout()
    {
        NavigationManager.NavigateTo("");
    }
    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<Data.Components.Dialog.Profile.DialogProfile>("Thông tin cá nhân", options);
    }
}
