@using Chatable.Data.Entitles;
@using Chatable.Data.Entitles.DTO
@using Chatable.Data.Entitles.Model;
<link rel="stylesheet" href="/css/ChatList.css">

<div class="list-group list-group-flush">

    @if (Loading)
    {
        <li class="list-group-item">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </li>
    }
    else
    {
        @foreach (var group in Groups)
        {

            <li class="list-group-item " @onclick="() => HandleUserClick(group)">
                <div class="friend-request-card">
                    <div class="profile-picture">
                        <img src="https://thepracticaldev.s3.amazonaws.com/i/sldkglekmnqc4outtfqd.jpg">
                    </div>
                    <div class="user-details">
                        <h1>Love Graysosdfsdfsdfsdfsdfsdfsdfsdn</h1>
                        <h2>13 Mutual Friends</h2>
                    </div>
                    <div class="friend-request-actions">
                        <button class="button button-primary">Accept</button>
                        <button class="button button-secondary">Decline</button>
                    </div>
                </div>
                @* <div class="d-flex align-items-center" style="margin-left:0px; border-radius:15px">
                    <MudAvatar>
                        <MudImage Src=@Constant.defaultImgGroup></MudImage>
                    </MudAvatar>
                    <h4 class="user-name">@group.GroupName</h4>
                </div> *@
            </li>
        }
    }
</div>

@code {
    private User currentUser = Constant.currentUser;
    [Parameter]
    public IEnumerable<FriendRequestDTO> Groups { get; set; } = Enumerable.Empty<FriendRequestDTO>();

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public EventCallback<FriendRequestDTO> OnFriendRequestSelected { get; set; }

    private async Task HandleUserClick(FriendRequestDTO friendReq)
    {
        await OnFriendRequestSelected.InvokeAsync(friendReq);
    }
}
