
<div class="container">
    <MudText Style="font-size:22px; font-weight: 600; "> Mật khẩu đăng nhập</MudText>
	<MudButton Target="_blank"
			   Variant="Variant.Text"
			   Disabled=false
               Style="width: 130px; height: 47px; border-radius: 8px; margin-top: 20px; background-color:#E6E6E6; color: #666666; ">
		<div class="d-flex justify-center align-center">
			Đổi mật khẩu
		</div>
	</MudButton>
</div>
<style>
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: white;
        padding: 30px 40px;
    }
</style>

@code {

}
