@import url('Theme.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout cho màn hình Chat */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: white;
}

#back-btn {
    display: none;
    padding: 10px;
    border-radius: 8px;
    width: 40px;
}

@media (max-width: 800px) {

    #back-btn {
        display: block;
    }
}

.receiver-name {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.receiver-status {
    font-size: 14px;
    color: gray;
}


.messages-list {
    flex: 1; /* expanded */
    overflow-y: scroll;
    background-color: #FAFAFA;
}

#utils-message {
    display: flex;
    padding: 4px;
}

#utils-message > button {
    padding: 10px;
    border-radius: 4px;
}
/*-------------------------------------------------------------------------------------*/
#message-input {
    display: flex;
    align-items: center;
}

.mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 0;
}

#message-input .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root {
    padding: 20px 14px;
}

#message-input > .mud-input-control > .mud-input-control-input-container {
    background-color: white !important;
    border-radius: 0px !important;
}

.btn-send {
    border-radius: 6px;
    background-color: var(--bg-color);
    padding: 6px 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/*

.home-image {
    height: 300px;
    align-self: center;
    object-fit: cover;
}

.message-ul {
    padding: 5px;
    margin-bottom: 1rem;
}
.single-msg {
    padding: 4px 10px;
    border-radius: 5px;
}

.me {
    border-bottom-right-radius: 0;
    color: white;
    background-color: var(--bg-color);
}

.other {
    border-bottom-left-radius: 0;
    color:black;
    background-color: white;
}

.msg-dt {
    font-size: 11px;
    color: black;
}

.me .msg-dt {
    display: block;
    width: 100%;
    text-align: right;
}
.user-p {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    color: black;
    align-items: center;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:100%;
}
.btn-send {
    border-radius: 5px;
    background-color: var(--bg-color);
    padding: 4px 15px;
    color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.chat-container {*/
    /*flex: 0 0 auto;
    padding-right: 0!important;
    padding-left: 0!important;
    display: flex!important;
    width:100%;*/
    /*flex: 1;
    width: auto;
    height: auto;
    display: flex!;
    position: relative;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.chat-page-cont{
    flex-grow: 1!important;
    flex-direction: column!important;
    display: flex!important;
}
.chat-header-container {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

    .chat-user-container {
        flex: 1;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
    }
.chat-btn-container {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: flex-end;
}
.home-textinput1 {
    flex: 1;
    margin-left: 10px;
}

.home-button5 {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}


    .message-textinput:focus {
    outline: none !important;

 }*/
