@import url('Theme.css');
*{
    font-family: SVN-Poppins;
}
h4 {
    font-family: SVN-Poppins;
}
.user-img {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
}

/*li {
    margin: 10px 0;
}*/
.list-group-item {
    list-style-type: none;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

.user-select {
    background-color: #0091ff;
    color: white;
    font-family: SVN-Poppins;

    list-style-type: none;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

.list-group-item .user-unselect {
    background-color: white;
    color: black;
    font-family: SVN-Poppins;

    list-style-type: none;
}

.user-name {
    font-family: SVN-Poppins;
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: auto;
    font-weight: 500;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.friend-request-card {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 5px 10px #d8d8d8; /** This shadow is no good... **/
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 27px;
    overflow: hidden;
}

img {
    width: 40px;
    height: 100%;
}
.friend-request-actions {
    margin-left: auto;
    width: 180px;
}
.button {
    font-family: SVN-Poppins;
    border-radius: 100px;
    width: 100%;
    padding: 1px 10px;
    border: none;
    font-size: 12px;
    font-weight: normal; 
    transition: background .3s;
    cursor: pointer;
}
.button:first-child
{
    margin-bottom: 14px;
}

    .button .button-primary {
        background: var(--bg-color);
    }
        .button .button-primary:hover {
            filter: brightness(85%);
        }

    .button .button-secondary {
        background: var(--bg-color);
    }
        .button .button-secondary:hover {
            filter: brightness(85%);
        }
