* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-layout {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.left-banner {
    min-width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.list-conversations {
    display: flex;
    flex-direction: column;
}

.right-banner {
    width: 100%;
}

.coversation-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
}

.coversation-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.coversation-name {
    font-size: 16px;
    font-weight: 400;
}

.coversation-last-message {
    font-size: 14px;
    color: gray;
}

.user-select {
    background-color: #0091FE33;
    color: black;
}

.user-unselect {
    background-color: white;
    color: black;
}

.user-unselect:hover {
    background-color: #F4F5F7;
}

/*.home-container2 {
    flex: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5px
}*/

/*.home-container3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding:10px;
}*/

/*.home-button {
    margin-left: 16px;
    margin-right: 16px;
}

.home-ul {
    height: 100%;
}
.ul {
    list-style-type: none;
}
.home-container4 {
    width: auto;
    height: 100%;
    flex: 1;
    flex-direction: row;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    display: flex;
    position: relative;
    align-self: center;
    align-items: flex-start;
}
.home-text3 {
    width: 100%;
    height: auto;
    align-self: center;
    text-align: center;
}
.waitChat-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.list-container {
    flex: 1;
    height: auto;
    flex-direction: column
}
.user-img {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
}

li {
    margin: 10px 0;
}

.container {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}*/