@import url('Theme.css');
*{
    font-family: SVN-Poppins;
}
h4 {
    font-family: SVN-Poppins;
}
.user-img {
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
}

/*li {
    margin: 10px 0;
}*/
.list-group-item {
    list-style-type: none;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

.list-group-item.user-select {
    background-color: #0091ff;
    color: white;
    font-family: SVN-Poppins;
    list-style-type: none;
    padding: 10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

.list-group-item .user-unselect {
    background-color: white;
    color: black;
    font-family: SVN-Poppins;

    list-style-type: none;
}

.user-name {
    font-family: SVN-Poppins;
    font-size: 14px;
    text-align: left;
    width: 100%;
    height: auto;
    font-weight: 500;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*.container {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}*/

.friend-request-card {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 5px 10px #d8d8d8; /** This shadow is no good... **/
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 16px;
    overflow: hidden;
}

.friend-request-actions {
    width: 230px;
    text-align: end;
    flex-direction:row;
    display:flex;
    justify-content: space-between;
}

.button-primary {
    border: none;
    color: white;
    width:110px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    background-color: var(--bg-color);
}

.button-primary:hover {
    background-color: #87CBFF;
}

.button-secondary {
    border: none;
    width: 110px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    color: #3B5BD7;
    background-color: #E8EFFD;
}
    .button-secondary:hover {
        background-color: #A3C2FF;
    }