* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #B1CAE9;
    height: 100vh;
}

.main {
    flex: 1;
    height: 100vh;
}

@media (min-width: 64px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 80px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
