* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    /* default top, left */
    top: 0;
    left: 0;
    background: #0091FE;
    width: 80px;
    height: 100%;
    transition: all 0.3s linear;
    overflow: hidden
}

.main_container {
    padding-left: 80px;
    transition: all 0.3s linear;
}

@media (min-width: 500px) {
    .sidebar:hover {
        width: 240px;
        transition: all 0.3s linear;
    }

    .sidebar:hover + .main_container {
        padding-left: 240px;
        transition: all 0.3s linear;
    }
}

.sidebar ul li:hover {
    background-color: #0082E4;
}

.sidebar ul li a {
    cursor: pointer;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    color: white;
    min-width: 80px; 
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar ul li a p {
    color: white;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
}

.sidebar .current-page {
    background-color: #006EDD !important;
    color: white;
}

.sidebar .bottom-list {
    position: absolute;
    bottom: 10px;
    width: 100%
}

.sidebar .user {
    display: flex;
    align-items: center;
    padding: 30px 10px;
}

.sidebar .user_img {
    width: 60px;
    height: 60px;
    padding: 1px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
}

.sidebar .user p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


