* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1; 
}
.sidebar {
    background: #4267b2;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
    overflow: hidden;
}

    .sidebar:hover {
        width: 250px;
    }
    .sidebar .user {
        width: 100%;
        height: 110px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        top: 0;
    }
    .sidebar .user-img {
        width: 56px;
        height: 56px;
        min-width: 56px;
        min-height: 56px;
        border-radius: 100%;
        border: 2px solid #fff;
        overflow: hidden;
    }
    .sidebar .user p {
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        color: white;
        margin-left: 15px;
        overflow: hidden;
    }
    .sidebar .bottom-list {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

    .sidebar ul {
        list-style: none;
    }

        .sidebar ul li {
            margin: 10px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            border-radius: 10px;
            padding: 15px 0;
        }
        .sidebar ul li:hover {
            background: #CAE1FF;
        }

    .sidebar ul li a {
        display: flex;
        text-decoration: none;
        margin-top: 13px 0;
        white-space: nowrap;
        align-items: center;
    }

    .sidebar  ul li a i {
        width: 35px;
        color: white;
        font-size: 30px;
    }

    .sidebar ul li a .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80px
    }

        .sidebar ul li a p {
            color: white;
            white-space: nowrap;
            font-size: 15px;
            font-weight: 300px;
        }


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 80px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}