.custom-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #0091ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button i {
    margin-right: 8px;
}

/* <button class="custom-button" >
<i class="material-icons" > add</i > Add
</button > */
