@layout LoginLayout
@page "/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
<div class="title">
    @{
        <h1>Chatable</h1>
        <h2>Hãy đăng nhập tài khoản của bạn</h2>
    }
</div>
<div Class="body">
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudCard Style="width:350px">
            <MudCardContent>
                <MudTextField Label="Tên đăng nhập" 
                              @bind-Value="model.Username" For="@(() => model.Username)" />
                <MudTextField Label="Mật khẩu" Class="mt-3"
                              @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Đăng nhập</MudButton>
                <a href="/signUp" class="toSignUp">Đăng ký</a>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>
<style>
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
    }

    .body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .toSignUp {
        margin-left: 40px
    }
</style>
@code {
    LoginForm model = new LoginForm();
    bool success;

    public class LoginForm
    {
        [Required]
        [StringLength(8, ErrorMessage = "Tên đăng nhập không vượt quá 8 kí tự.")]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }

    }

    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
}